/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ada3a3;
}

.banner {
    background-color: #586c7e; /* cor de fundo do banner */
    padding: 20px;
    text-align: center;
    color: #fff;
}

.destaque {
    margin-top: 20px;
}

/* Estilos para a navegação do Bootstrap */
.navbar {
    background-color: #333 !important; /* alterando a cor de fundo da barra de navegação */
    color: #fff !important;
}

.navbar-nav .nav-link {
    color: #fff !important; /* alterando a cor dos links na barra de navegação */
}

.navbar-nav .nav-link:hover {
    color: #ccc !important; /* alterando a cor dos links ao passar o mouse */
}

.form-control {
    margin-right: 5px; /* ajustando a margem do campo de pesquisa */
}
